# Copia este archivo como .env y coloca tus credenciales de Supabase
# Las obtienes en: https://supabase.com/dashboard > tu proyecto > Settings > API
VITE_SUPABASE_URL=https://uctypgalduukgplbpdrb.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_CmbbjSDLXZV0oKQRdozuCQ_-Xq_I-JS
